{% extends "::base.html.twig" %}

{% block title %} - mikroblog{% endblock %}

{% block body %}
	{{ render(controller('ZacjaBundle:Common:header')) }}
	<div id="mikroblog">
		{% if form is defined and signed_in == true %}
			{{ form(form) }}
		{% endif %}
	</div>

	<div id="entries">
		<ul>
			{% if comments|length > 0 %}
				{% for comment in comments %}

					<li>
						<p class="comment-header">
							{{ comment.author.username }} lvl{{ comment.author.profile.level }}
							{{ comment.date|date("d F, Y H:i") }}
						</p>
						<p class="comment-content">
							{{ comment.content }}
						</p>
					</li>
				{% endfor %}
			{% endif %}
		</ul>

	</div>
{% endblock %}
