{% extends "::base.html.twig" %}

{% block title %}ZacjaBundle:Mikroblog:show{% endblock %}

{% block body %}
	{{ render(controller('ZacjaBundle:Common:header')) }}

	{% if form is defined and signed_in == true %}
		{{ form(form) }}
	{% endif %}

	<div id="comments">
		<ul>
			{% if comments|length > 0 %}
				{% for comment in comments %}

					<li>
						<span class="comment_author">{{ comment.author.username }} lvl{{ comment.author.profile.level }}</span>
						<span class="comment_date">{{ comment.date|date("d F, Y H:i") }}</span>
						<span class="comment_content">{{ comment.content }}</span>
					</li>
				{% endfor %}
			{% endif %}
		</ul>

	</div>
{% endblock %}
