	<header>

	<h1>Welcome {% if username is defined %} {{ username }} {%  endif %}!</h1>

	{% if user is not null %}
		<p class="level">Level {{ user.profile.level }} with {{ user.profile.score }}/{{ user.profile.getPointsForNextLevel() }} points. {{ user.profile.getPointsToNextLevel() }} to next level.</p>
	{% endif %}

	{% if signedIn == false %}
			<a href="{{ path('showSignIn') }}">Sign In</a>
			</br>
			<a href="{{ path('showSignUp') }}">Sign Up</a>
	{% else %}
		<a href="{{ path('zacja_account_signout') }}">Sign Out</a>

		<ul id="notification-list">
			{% for notification in user.profile.notifications.notifications %}
				<li>
					<span class="notification_date">{{ notification.date|date("d F, Y H:i") }}</span>
					<span class="notification_content">{{ notification.content }}</span>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

</header>