<header>

	<span id="welcome">
		<h3>Welcome {% if username is defined %} {{ username }} {%  endif %}!</h3>


		{% if user is not null %}
			<p class="level">Level {{ user.profile.level }} with {{ user.profile.score }}/{{ user.profile.getPointsForNextLevel() }} points. {{ user.profile.getPointsToNextLevel() }} to next level.</p>
		{% endif %}

	</span>

	{% if signedIn == false %}
			<a href="{{ path('showSignIn') }}"><img src="{{ asset('bundles/zacja/images/signin-icon.png') }}"></a>
			<a href="{{ path('showSignUp') }}"><img src="{{ asset('bundles/zacja/images/signup-icon.png') }}"></a>
			<a href="{{ path('mikroblog') }}"> <img src="{{ asset('bundles/zacja/images/micro-icon.png') }}"> </a>
	{% else %}
		<a href="{{ path('zacja_account_signout') }}"><img src="{{ asset('bundles/zacja/images/signout-icon.png') }}"></a>

		<a href="{{ path('mikroblog') }}"> <img src="{{ asset('bundles/zacja/images/micro-icon.png') }}"> </a>

		<ul id="notification-list">
			<img id="notification-icon" src="{{ asset('bundles/zacja/images/notification-icon.png') }}">
			{% for notification in user.profile.notifications.notifications %}
				<li>
					<span class="notification-date">{{ notification.date|date("d F, Y H:i") }}</span>
					<span class="notification-content">{{ notification.content }}</span>
				</li>
			{% endfor %}
		</ul>
	{% endif %}




</header>