{% extends "::base.html.twig" %}

{% block title %}ZacjaBundle:index:index{% endblock %}

{% block body %}

	{{ render(controller('ZacjaBundle:Common:header')) }}

	{% if signed_in and friends_trainings is not null %}
		<div id="last_friends_trainings_list">
			<ul>
				{% for training in friends_trainings %}
					<li>
						<a href="/training/type/{{ training.type }}">{{ training.type }}</a> by
						<a href="/user/{{ training.user.username }}">{{ training.user.username }}</a>
						<p><a href="/training/{{ training.id }}">{{ training.date|date("d F, Y H:i") }}</a></p>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div id="last_trainings_list">
		<ul>
			{% for training in trainings %}
				<li>
					<a href="/training/type/{{ training.type }}">{{ training.type }}</a> by
					<a href="/user/{{ training.user_name }}">{{ training.user_name }}</a>
					<p><a href="/training/{{ training.id }}">{{ training.date }}</a></p>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div id="last_conquers_list">
		<ul>
			{% for conquer in conquers %}
				<li>
					<a href="/user/conquers/{{ conquer.user_name }}"> {{ conquer.count }} conquers with {{ conquer.score }} points </a> by
					<a href="/user/{{ conquer.user_name }}">{{ conquer.user_name }}</a></li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
