{% extends "::base.html.twig" %}

{% block title %}ZacjaBundle:index:index{% endblock %}

{% block body %}

	{{ render(controller('ZacjaBundle:Common:header')) }}

	<div id="last_trainings_list">
		<ul>
			{% for training in trainings %}
				<li>
					<a href="/training/type/{{ training.type }}">{{ training.type }}</a> by
					<a href="/user/{{ training.user_name }}">{{ training.user_name }}</a>
					<p><a href="/training/{{ training.id }}">{{ training.date }}</a></p>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div id="last_conquers_list">
		<ul>
			{% for conquer in conquers %}
				<li>
					<a href="/user/conquers/{{ conquer.user_name }}"> {{ conquer.count }} conquers with {{ conquer.score }} points </a> by
					<a href="/user/{{ conquer.user_name }}">{{ conquer.user_name }}</a></li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
