{% extends "::base.html.twig" %}

{% block title %}ZacjaBundle:Training:showTraining{% endblock %}

{% block body %}
	{{ render(controller('ZacjaBundle:Common:header')) }}

	{# ToDo: Graphic corresponding to training type #}
	<div id="training-map-canvas"></div>
	<div id="trainingChartContainer" style="height: 300px; width: 100%;"></div>

	<p class="training_user">
		<a href="/user/{{ training.user.username }}">{{ training.user.username }}</a>
	</p>

	<p class="training_type">
		<a href="/user/trainings/{{ training.user.username }}/{{ training.type }}">{{ training.type }}</a>
	</p>
	<p class="training_date">
		<a href="/training/{{ training.id }}">{{ training.date|date("d F, Y H:i") }}</a>
	</p>
	<p class="training_score">
		<span class="label"> Score </span>
		{{ training.score|number_format(0, '.', ' ') }}
	</p>

	{%  if training.distance > 0 %}
		<p class="training_distance">
			<span class="label"> Distance </span>
			{{ training.distance|number_format(2, '.', ' ') }}
		</p>
	{% endif %}

	{%  if training.moves > 0 %}
		<p class="training_moves">
			<span class="label"> Steps </span>
			{{ training.moves }}
		</p>
	{% endif %}

	<p class="training_time">
		<span class="label"> Time </span>
		{{ training.time }}
	</p>

	<p class="training_time_active">
		<span class="label"> Time active </span>
		{{ training.timeActive }}
	</p>
	<p class="training_speed_max">
		<span class="label"> Speed Max </span>
		{{ training.speedMax|number_format(2, '.', ' ') }}
	</p>
	<p class="training_speed_avg">
		<span class="label"> Speed AVG </span>
		{{ training.speedAvg|number_format(2, '.', ' ') }}
	</p>
	<p class="training_tempo_min">
		<span class="label"> Tempo min </span>
		{{ training.tempoMin|number_format(2, '.', ' ') }}
	</p>
	<p class="training_tempo_avg">
		<span class="label"> Tempo AVG </span>
		{{ training.tempoAvg|number_format(2, '.', ' ') }}
	</p>
	<p class="training_altitude_min">
		<span class="label"> Latitude min</span>
		{{ training.altitudeMin }}
	</p>
	<p class="training_altitude_max">
		<span class="label"> Latitude max </span>
		{{ training.altitudeMax }}
	</p>
	<p class="training_altitude_up">
		<span class="label"> Altitude upwards </span>
		{{ training.altitudeUpward }}
	</p>
	<p class="training_altitude_down">
		<span class="label"> Altitude downwards </span>
		{{ training.altitudeDownward }}
	</p>

	<script> gpx = '{{ gpx|raw }}'; </script>
{% endblock %}
