	<div id="last_conquers_list" class="separate">
		<ul>
			{% for conquer in conquers %}
				<li>
					<p>
						<a href="#{{ conquer.latitude }},{{ conquer.longitude }}"
						    onclick="mapAddPoint({{ conquer.latitude }}, {{ conquer.longitude }}, '{{ conquer.user.username }} - {{ conquer.score }}')">
							{{ conquer.score }} points</a>  by
						<a href="/user/{{ conquer.user.username }}">{{ conquer.user.username }}</a>
					</p>
				</li>
			{% endfor %}
		</ul>
	</div>